<div class="modal fade" id={{modal_id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id={{title_id}}>{{title_content}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id={{body_id}}>{{body_content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-color whitefont" data-dismiss="modal">Close</button>
                {{#if btn_id}}
                <button type="button" class="btn btn-color whitefont" data-dismiss="modal" id={{btn_id}}>{{btn_content}}</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
