<div class='col col-xl-12 sidebar-col' id={{id}}>
    <a class="list-group-item list-group-item-action whitefont" id={{id}}  {{#if logout}}data-toggle="modal" data-target="#logoutModal"{{/if}}>
        <span class='side-icon' id={{id}}><i class="fas {{icon}}" id={{id}}></i></span>
        <span class='side-name' id={{id}}>{{name}}</span>
    </a>
</div>